.content{
    background-color: #1F232E;
    color: white;
    border: #18A4E3 solid 2px;
    border-radius: 6px;

    display: flex;
    align-self: center;
    justify-self: center;

    font-size: 16px;

    padding: 5px;
    margin-bottom: 32px;
    width: fit-content;
}
.content:hover{
    background-color: #18A4E3;
    color: #1F232E;
}
.content:active{
    background-color: #187EAB;
    border-color: #187EAB;
}